/* reset margin, padding */
body {
    margin: 0;
    padding: 0;
}

.red {
    border: 1px red solid;
}

.green {
    border: 1px green solid;
}

.banner {
    /* border: 1px solid red; */
    height: 500px;
    background-image: url('./banner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    padding: 20px;

    .about-sign-in {
        height: 80px;
        width: 100%;
        text-align: right;

        .about,
        .sign-in {
            text-decoration: none;
            padding: 7px 15px;
            margin-top: 20px;
            display: inline-block;
            text-transform: uppercase;

        }

        .sign-in {
            margin-right: 60px;
            margin-left: 25px;
            border-radius: 20px;
            border: 1px solid green;
            color: green;
        }
    }

    .logo {
        background-image: url('./hapoERP.png');
        margin-top: 40px;
        height: 100px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .text {
        text-align: center;
        margin-top: 30px;

        span {
            color: green;
        }
    }


    .btn-start-now {
        text-align: center;

        button {
            text-transform: uppercase;
            padding: 10px 15px;
            border-radius: 20px;
            border: 1px solid green;
            margin-top: 25px;
            cursor: pointer;
        }
    }

    .content-center {

        .left,
        .center,
        .right {
            width: 33%;
            display: inline-block;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        span {

            display: block;
            font-size: 25px;
            font-weight: bold;
            padding-top: 5px;

        }

        img {
            width: 30px;
            height: 30px;
        }
    }
}